.App {
  text-align: center;
}

body {
  max-width: 70%;
  margin: auto;
  background-color: #282c34;
  color: white;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section {
  margin-top: 5px;
  border: white 2px solid;
  border-radius: 5px;
}

article {
  border: white 1px solid;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: left;
}

form {
  display: grid;
  max-width: 50%;
  /* grid-template-columns: 0.1fr 1fr 0.1fr 2fr 5fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  padding: 10px; */
}

select {
  background-color: #434854;
  color: white;
}

button {
  background-color: yellowgreen;
  color: white;
  max-width: 50%;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
}

input,
textarea {
  border: white 1px solid;
  border-radius: 5px;
  background-color: #434854;
  color: white;
}
